@media(min-width:1000px){
	.block3{
	  position:relative;
	   background: linear-gradient(84.83deg, rgba(255, 27, 27, 0) -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, #FE6969 100%);
	   box-shadow:0 0 10px rgba(0,0,0,0.5);
	   border-radius:0.5rem;
	   width:30rem;
	   height:20rem;	 
	   padding: 1rem 1rem 1rem 1rem;
	   margin-left:76rem;
	   top:-22rem;
	}
	   html {
		overflow-x: hidden;
		}
	   ::-webkit-scrollbar {
	  width: 0px;  /* remove scrollbar space */
	  background: transparent;  /* optional: just make scrollbar invisible */
		}
	  /* optional: show position indicator in red */
	  ::-webkit-scrollbar-thumb {
	  width: -1px;  /* remove scrollbar space */
	  background: rgba(0,0,0,0);  /* optional: just make scrollbar invisible */
	  opacity: .0;
	  color:rgba(0,0,0,0);  
	   }
  body{
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(90deg, #FFA700 0%, rgba(255, 147, 0, 0.369792) 100%, #FF5600 100%);
  }
  a{
  text-decoration: none;
  }
  .vhod{
	margin-left:100rem;
	margin-top:-12.5rem;
	display: block;
	background: linear-gradient(84.83deg, #FE6969 -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, rgba(255, 27, 27, 0) 100%);
	filter: drop-shadow(0rem 0.438rem 2.188rem rgba(251, 68, 48, 0.56));
	border-radius: 6.875rem;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 1rem;
	line-height: 2.313rem;
	color: #fff;
	padding:1rem;
	
	width: 3.5rem;
	height: 3.5rem;
	transition-property:all;
	transition-duration:1s;
	}
	.vhod:hover::after{
		display: inline-block;
		padding: 1rem;
		position:relative;
		content:'Вход Регистрация';
		left:-3.25rem;
		top:-1.5rem;
		background-color: #000;
		background: linear-gradient(84.83deg, #FE6969 -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, rgba(255, 27, 27, 0) 100%);
	  filter: drop-shadow(0rem 0.438rem 2.188rem rgba(251, 68, 48, 0.56));
	  border-radius: 6.875rem;
		animation: anim 1s ease;
		opacity: 1;
	}
	@keyframes anim {
		0%{
			opacity: 0;
		}
		50%{
			padding: 1rem;
			position:relative;
			content:'Вход регистрация';
			left:5rem;
			top:-1.5rem;
			background-color: #000;
			background: linear-gradient(84.83deg, #FE6969 -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, rgba(255, 27, 27, 0) 100%);
	  		filter: drop-shadow(0rem 0.438rem 2.188rem rgba(251, 68, 48, 0.56));
	  		border-radius: 6.875rem;
		}
		100%{
			left:-3.25rem;
		}		
		
	}
	
	  .div2{
  position: relative;
  width: 6.063rem;
  height: 8.344rem;
  left: 23.438rem;
  top:3rem;
  color:#fff;
  background: #000000;
  box-shadow: 0.063rem 0.25rem 0.25rem rgba(0, 0, 0, 0.5);
  border-radius: 0.625rem;
  text-align:center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 3.063rem;
  padding-left:0.5rem;
  }
  
  .p5{
  position: relative;
  width: 300px;
  left: 25.438rem;
  top:2.5rem;
  font-family: 'Montserrat';
  font-style: normal;
  
  font-weight: 700;
  
  font-size: 2.188rem;
  
  color: #000000;
  }
  
  #p1{
  position: relative;
  width: 5.375rem;
  height: 1.5rem;
  left: 30rem;
  top: 2rem;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
  
  color: #000000;
  }
  #div1{
  position: relative;
  width: 4.9rem;
  left: 55.5rem;
  top: -1rem;
  
  border: 0.063rem solid rgba(0, 0, 0, 0.1);
  }
  
  
  #p2{
  position: relative;
  width: 4.625rem;
  height:1.5rem;
  left: 55.5rem;
  top: -2.7rem;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
  
  color: #000000;
  }
  
  #p3{
  position: relative;
  width: 6.813rem;
  height: 1.5rem;
  left: 57rem;
  top: -2.7rem;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
  
  color: #000000;
  }
  
  #p4{
  position: relative;
  width: 6.125rem;
  height: 1.5rem;
  left: 60rem;
  top:-2.7rem;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size:1.25rem;
  line-height: 1.5rem;
  
  color: #000000;
  }
  
  .div5{
  position: relative ;
  width:4.375rem;
  height:4.375rem;
  left: 82.75rem;
  top:-5.9rem;
  
  background: #171717;
  border-radius: 50%;
  }
  
  .p6{
  position: relative;
  height: 1.875rem;
  left: 88.25rem;
  top: -9rem;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height:1.875rem;
  
  color: #000000;
  }
  .img5{
  position: relative;
  width: 45px;
  height: 45px;
  margin-left: 0.625rem;
  margin-top:0.75rem;
  }
  #p11{
  position: relative;
  width: 5.375rem;
  height: 1.5rem;
  left: 41.3rem;
  top: 0rem;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5rem;
  color:#fff;
  }
  #div11{
  position: relative;
  width: 8rem;
  left: 60rem;
  top: 3.5rem;
  
  border: 0.063rem solid rgba(0, 0, 0, 0.3);
  }
  
  
  #p21{
  position: relative;
  width: 4.625rem;
  height:1.5rem;
  left: 60rem;
  top: 1rem;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.5rem;
  
  color: #000000;
  }
  
  #p31{
  position: relative;
  
  height: 1.5rem;
  left: 52.3rem;
  top: 4rem;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5rem;
  
  color: #000000;
  }
  
  #p41{
  position: relative;
  width: 6.125rem;
  height: 1.5rem;
  left: 41.1rem;
  top:7rem;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size:2rem;
  line-height: 1.5rem;
  
  color: #000000;
  }
  
  .div51{
  position: relative ;
  width:4.375rem;
  height:4.375rem;
  left: 60rem;
  top:8.3rem;
  
  background: #171717;
  border-radius: 50%;
  }
  
  .p61{
  position: relative;
  height: 1.875rem;
  left: 66rem;
  top: 5.5rem;
  color:#ffffff;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height:1.875rem;
  
  }
  .img51{
  position: relative;
  width: 45px;
  height: 45px;
  margin-left: 0.625rem;
  margin-top:0.75rem;
  }
  
  #p11 a{color:#fff;}
  #p21 a{color:#fff;}
  #p31 a{color:#fff;}
  #p41 a{color:#fff;}
  .p61 a{color:#fff;}
  
  .address{
  color:#fff;
  font-size:1.5rem;
  width:7rem;
  top:1rem;
  left:2rem;
  position: relative;
  }
  .nomer{
  color:#fff;
  font-size:1.5rem;
  width:7rem;
  top:1.5rem;
  left:2rem;
  position: relative;
  }
  .img6{
  position:relative;
  top:-11rem;
  width:10rem;
  margin-left:173vh;
  margin-top:0rem;
  
  filter: drop-shadow(0rem 0.438rem 2.188rem rgba(0, 104, 255, 0.8));
  }
  .img7{
  display:block;
  width:10rem;
  margin-left:173vh;
  margin-top:-11rem;
  filter: drop-shadow(0rem 0.438rem 2.188rem rgba(0, 104, 255, 0.8));
  border-radius:25%;
  }
  footer{
  background:rgba(0,0,0,0.5); 
  border-radius:0.5rem;
  height:22rem;
  margin-top:7rem;
  }
  .block1{
	   background: linear-gradient(84.83deg, rgba(255, 27, 27, 0) -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, #FE6969 100%);
	   box-shadow:0 0 10px rgba(0,0,0,0.5);
	   border-radius:0.5rem;
	   width:30rem;
	   height:20rem;	 
	   padding: 1rem 1rem 1rem 1rem;
	   margin-left:10rem;
  }
  .img_1{
  width:20rem;
  height:13rem;
  object-fit: cover;
  border-radius:0.5rem;
  box-shadow:0 0 10px rgba(0,0,0,0.5);
  margin-left:5rem;
  }
  .text1{
	  position:relative;
	  font-size:1.3rem;
	  top:1.5rem;
	  left:-12rem;
	  }
  .text_1{
	  position:relative;
	  font-size:1.3rem;
	  top:1.5rem;
	  left:11rem;
	  }
  .input1{
	border-radius: 2rem;
	height: 3rem;
	width:5rem;
	font-size: 1rem;
	font-weight: 600;
	text-align: center;
	border: none;
	background: linear-gradient(84.83deg, #FE6969 -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, rgba(255, 27, 27, 0) 100%);
	filter: drop-shadow(0rem 0.438rem 2.188rem rgba(251, 68, 48, 0.56));
	color: #fff;
	top:4rem;
	position:relative;
	left:3.5rem;
	}
	.block2{
	   background: linear-gradient(84.83deg, rgba(255, 27, 27, 0) -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, #FE6969 100%);
	   box-shadow:0 0 10px rgba(0,0,0,0.5);
	   border-radius:0.5rem;
	   width:30rem;
	   height:20rem;	 
	   padding: 1rem 1rem 1rem 1rem;
	   margin-left:43rem;
	   margin-top:-22rem;
  }
  .img_2{
  width:20rem;
  height:13rem;
  object-fit: cover;
  border-radius:0.5rem;
  box-shadow:0 0 10px rgba(0,0,0,0.5);
  margin-left:5rem;
  }
  .text2{
	  position:relative;
	  font-size:1.3rem;
	  top:1.5rem;
	  left:-12rem;
	  }
  .text_2{
	  position:relative;
	  font-size:1.3rem;
	  top:1.5rem;
	  left:11rem;
	  }
  
  .img_3{
  width:20rem;
  height:13rem;
  object-fit: cover;
  border-radius:0.5rem;
  box-shadow:0 0 10px rgba(0,0,0,0.5);
  margin-left:5rem;
  }
  .text3{
	  position:relative;
	  font-size:1.3rem;
	  top:-0.5rem;
	  left:9rem;
	  }
  .text_3{
	  position:relative;
	  font-size:1.3rem;
	  top:1.8rem;
	  left:-1rem;
	  }
	  .input3{
	border-radius: 2rem;
	height: 3rem;
	width:5rem;
	font-size: 1rem;
	font-weight: 600;
	text-align: center;
	border: none;
	background: linear-gradient(84.83deg, #FE6969 -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, rgba(255, 27, 27, 0) 100%);
	filter: drop-shadow(0rem 0.438rem 2.188rem rgba(251, 68, 48, 0.56));
	color: #fff;
	top:4.1rem;
	position:relative;
	left:-8rem;
	}
  .block4{
	   background: linear-gradient(84.83deg, rgba(255, 27, 27, 0) -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, #FE6969 100%);
	   box-shadow:0 0 10px rgba(0,0,0,0.5);
	   border-radius:0.5rem;
	   width:30rem;
	   height:20rem;	 
	   padding: 1rem 1rem 1rem 1rem;
	   margin-left:10rem;
	   margin-top:-21rem;
  }
  .img_4{
  width:20rem;
  height:13rem;
  object-fit: cover;
  border-radius:0.5rem;
  box-shadow:0 0 10px rgba(0,0,0,0.5);
  margin-left:5rem;
  }
  .text4{
	  position:relative;
	  font-size:1.3rem;
	  top:-0.5rem;
	  left:11rem;
	  }
  .text_4{
	  position:relative;
	  font-size:1.3rem;
	  top:1.8rem;
	  left:1.7rem;
	  }
	  .input4{
	border-radius: 2rem;
	height: 3rem;
	width:5rem;
	font-size: 1rem;
	font-weight: 600;
	text-align: center;
	border: none;
	background: linear-gradient(84.83deg, #FE6969 -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, rgba(255, 27, 27, 0) 100%);
	filter: drop-shadow(0rem 0.438rem 2.188rem rgba(251, 68, 48, 0.56));
	color: #fff;
	top:4.1rem;
	position:relative;
	left:-5.5rem;
	}
   .block5{
	   background: linear-gradient(84.83deg, rgba(255, 27, 27, 0) -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, #FE6969 100%);
	   box-shadow:0 0 10px rgba(0,0,0,0.5);
	   border-radius:0.5rem;
	   width:30rem;
	   height:20rem;	 
	   padding: 1rem 1rem 1rem 1rem;
	   margin-left:43rem;
	   margin-top:-22rem;
  }
  .img_5{
  width:20rem;
  height:13rem;
  object-fit: cover;
  border-radius:0.5rem;
  box-shadow:0 0 10px rgba(0,0,0,0.5);
  margin-left:5rem;
  }
  .text5{
	  position:relative;
	  font-size:1.3rem;
	  top:1.5rem;
	  left:-12rem;
	  }
  .text_5{
	  position:relative;
	  font-size:1.3rem;
	  top:1.8rem;
	  left:11rem;
	  }
	  .input5{
	border-radius: 2rem;
	height: 3rem;
	width:5rem;
	font-size: 1rem;
	font-weight: 600;
	text-align: center;
	border: none;
	background: linear-gradient(84.83deg, #FE6969 -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, rgba(255, 27, 27, 0) 100%);
	filter: drop-shadow(0rem 0.438rem 2.188rem rgba(251, 68, 48, 0.56));
	color: #fff;
	top:4.1rem;
	position:relative;
	left:3.7rem;
	}
  input:hover{
  cursor: pointer;
  }
   .block6{
	   background: linear-gradient(84.83deg, rgba(255, 27, 27, 0) -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, #FE6969 100%);
	   box-shadow:0 0 10px rgba(0,0,0,0.5);
	   border-radius:0.5rem;
	   width:30rem;
	   height:20rem;	 
	   padding: 1rem 1rem 1rem 1rem;
	   margin-left:76rem;
	   margin-top:-22rem;
  }
  .img_6{
  width:20rem;
  height:13rem;
  object-fit: cover;
  border-radius:0.5rem;
  box-shadow:0 0 10px rgba(0,0,0,0.5);
  margin-left:5rem;
  }
  .text6{
	  position:relative;
	  font-size:1.3rem;
	  top:-0.5rem;
	  left:9rem;
	  }
  .text_6{
	  position:relative;
	  font-size:1.3rem;
	  top:1.8rem;
	  left:-2rem;
	  }
	  .input6{
	border-radius: 2rem;
	height: 3rem;
	width:5rem;
	font-size: 1rem;
	font-weight: 600;
	text-align: center;
	border: none;
	background: linear-gradient(84.83deg, #FE6969 -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, rgba(255, 27, 27, 0) 100%);
	filter: drop-shadow(0rem 0.438rem 2.188rem rgba(251, 68, 48, 0.56));
	color: #fff;
	top:4.1rem;
	position:relative;
	left:-9.5rem;
	}
	 .block7{
	   background: linear-gradient(84.83deg, rgba(255, 27, 27, 0) -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, #FE6969 100%);
	   box-shadow:0 0 10px rgba(0,0,0,0.5);
	   border-radius:0.5rem;
	   width:30rem;
	   height:20rem;	 
	   padding: 1rem 1rem 1rem 1rem;
	   margin-left:10rem;
	   margin-top:1rem;
  }
  .img_7{
  width:20rem;
  border-radius:0.5rem;
  height:13rem;
  object-fit: cover;
  box-shadow:0 0 10px rgba(0,0,0,0.5);
  margin-left:5rem;
  }
  .text7{
	  position:relative;
	  font-size:1.3rem;
	  top:-0.5rem;
	  left:12rem;
	  width:rem;
	  }
  .text_7{
	  position:relative;
	  font-size:1.3rem;
	  top:1.8rem;
	  left:4rem;
	  }
	  .input7{
	border-radius: 2rem;
	height: 3rem;
	width:5rem;
	font-size: 1rem;
	font-weight: 600;
	text-align: center;
	border: none;
	background: linear-gradient(84.83deg, #FE6969 -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, rgba(255, 27, 27, 0) 100%);
	filter: drop-shadow(0rem 0.438rem 2.188rem rgba(251, 68, 48, 0.56));
	color: #fff;
	top:4.1rem;
	position:relative;
	left:-3.5rem;
	}
	 .block8{
	   background: linear-gradient(84.83deg, rgba(255, 27, 27, 0) -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, #FE6969 100%);
	   box-shadow:0 0 10px rgba(0,0,0,0.5);
	   border-radius:0.5rem;
	   width:30rem;
	   height:20rem;	 
	   padding: 1rem 1rem 1rem 1rem;
	   margin-left:43rem;
	   margin-top:-22rem;
  }
  .img_8{
  width:20rem;
  height:13rem;
  object-fit: cover;
  border-radius:0.5rem;
  box-shadow:0 0 10px rgba(0,0,0,0.5);
  margin-left:5rem;
  }
  .text8{
	  position:relative;
	  font-size:1.3rem;
	  top:-0.5rem;
	  left:8rem;
	  }
  .text_8{
	  position:relative;
	  font-size:1.3rem;
	  top:1.8rem;
	  left:-4rem;
	  }
	  .input8{
	border-radius: 2rem;
	height: 3rem;
	width:5rem;
	font-size: 1rem;
	font-weight: 600;
	text-align: center;
	border: none;
	background: linear-gradient(84.83deg, #FE6969 -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, rgba(255, 27, 27, 0) 100%);
	filter: drop-shadow(0rem 0.438rem 2.188rem rgba(251, 68, 48, 0.56));
	color: #fff;
	top:4.1rem;
	position:relative;
	left:-11rem;
	}
	 .block9{
	   background: linear-gradient(84.83deg, rgba(255, 27, 27, 0) -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, #FE6969 100%);
	   box-shadow:0 0 10px rgba(0,0,0,0.5);
	   border-radius:0.5rem;
	   width:30rem;
	   height:20rem;	 
	   padding: 1rem 1rem 1rem 1rem;
	   margin-left:76rem;
	   margin-top:-22rem;
  }
  .img_9{
  width:20rem;
  height:13rem;
  object-fit: cover;
  border-radius:0.5rem;
  box-shadow:0 0 10px rgba(0,0,0,0.5);
  margin-left:5rem;
  }
  .text9{
	  position:relative;
	  font-size:1.3rem;
	  top:-0.5rem;
	  left:8rem;
	  }
  .text_9{
	  position:relative;
	  font-size:1.3rem;
	  top:1.8rem;
	  left:-2rem;
	  }
	  .input9{
	border-radius: 2rem;
	height: 3rem;
	width:5rem;
	font-size: 1rem;
	font-weight: 600;
	text-align: center;
	border: none;
	background: linear-gradient(84.83deg, #FE6969 -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, rgba(255, 27, 27, 0) 100%);
	filter: drop-shadow(0rem 0.438rem 2.188rem rgba(251, 68, 48, 0.56));
	color: #fff;
	top:4.1rem;
	position:relative;
	left:-9.5rem;
	}
	   .block10{
	   background: linear-gradient(84.83deg, rgba(255, 27, 27, 0) -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, #FE6969 100%);
	   box-shadow:0 0 10px rgba(0,0,0,0.5);
	   border-radius:0.5rem;
	   width:30rem;
	   height:20rem;	 
	   padding: 1rem 1rem 1rem 1rem;
	   margin-left:10rem;
	   margin-top:1rem;
  }
  .img_10{
  width:20rem;
  height:13rem;
  object-fit: cover;
  border-radius:0.5rem;
  box-shadow:0 0 10px rgba(0,0,0,0.5);
  margin-left:5rem;
  }
  .text10{
	  position:relative;
	  font-size:1.3rem;
	  top:-0.5rem;
	  left:12rem;
	  width:rem;
	  }
  .text_10{
	  position:relative;
	  font-size:1.3rem;
	  top:1.8rem;
	  left:4rem;
	  }
	  .input10{
	border-radius: 2rem;
	height: 3rem;
	width:5rem;
	font-size: 1rem;
	font-weight: 600;
	text-align: center;
	border: none;
	background: linear-gradient(84.83deg, #FE6969 -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, rgba(255, 27, 27, 0) 100%);
	filter: drop-shadow(0rem 0.438rem 2.188rem rgba(251, 68, 48, 0.56));
	color: #fff;
	top:4.1rem;
	position:relative;
	left:-3.5rem;
	}
	   .block11{
	   background: linear-gradient(84.83deg, rgba(255, 27, 27, 0) -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, #FE6969 100%);
	   box-shadow:0 0 10px rgba(0,0,0,0.5);
	   border-radius:0.5rem;
	   width:30rem;
	   height:20rem;	 
	   padding: 1rem 1rem 1rem 1rem;
	   margin-left:43rem;
	   margin-top:-22rem;
  }
  .img_11{
  width:20rem;
  height:13rem;
  object-fit: cover;
  border-radius:0.5rem;
  box-shadow:0 0 10px rgba(0,0,0,0.5);
  margin-left:5rem;
  }
  .text11{
	  position:relative;
	  font-size:1.3rem;
	  top:0.5rem;
	  left:8rem;
	  }
  .text_11{
	  position:relative;
	  font-size:1.3rem;
	  top:2.5rem;
	  left:-4rem;
	  }
	  .input11{
	border-radius: 2rem;
	height: 3rem;
	width:5rem;
	font-size: 1rem;
	font-weight: 600;
	text-align: center;
	border: none;
	background: linear-gradient(84.83deg, #FE6969 -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, rgba(255, 27, 27, 0) 100%);
	filter: drop-shadow(0rem 0.438rem 2.188rem rgba(251, 68, 48, 0.56));
	color: #fff;
	top:2.5rem;
	position:relative;
	left:14rem;
	}
	   .block12{
	   background: linear-gradient(84.83deg, rgba(255, 27, 27, 0) -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, #FE6969 100%);
	   box-shadow:0 0 10px rgba(0,0,0,0.5);
	   border-radius:0.5rem;
	   width:30rem;
	   height:20rem;	 
	   padding: 1rem 1rem 1rem 1rem;
	   margin-left:76rem;
	   margin-top:-22rem;
  }
  .img_12{
  width:20rem;
  height:13rem;
  object-fit: cover;
  border-radius:0.5rem;
  box-shadow:0 0 10px rgba(0,0,0,0.5);
  margin-left:5rem;
  }
  .text12{
	  position:relative;
	  font-size:1.3rem;
	  top:-0.5rem;
	  left:8rem;
	  }
  .text_12{
	  position:relative;
	  font-size:1.3rem;
	  top:1.8rem;
	  left:-3rem;
	  }
	  .input12{
	border-radius: 2rem;
	height: 3rem;
	width:5rem;
	font-size: 1rem;
	font-weight: 600;
	text-align: center;
	border: none;
	background: linear-gradient(84.83deg, #FE6969 -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, rgba(255, 27, 27, 0) 100%);
	filter: drop-shadow(0rem 0.438rem 2.188rem rgba(251, 68, 48, 0.56));
	color: #fff;
	top:4.1rem;
	position:relative;
	left:-10.5rem;
	}
		 .block13{
	   background: linear-gradient(84.83deg, rgba(255, 27, 27, 0) -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, #FE6969 100%);
	   box-shadow:0 0 10px rgba(0,0,0,0.5);
	   border-radius:0.5rem;
	   width:30rem;
	   height:20rem;	 
	   padding: 1rem 1rem 1rem 1rem;
	   margin-left:10rem;
	   margin-top:1rem;
  }
  .img_13{
  width:20rem;
  height:13rem;
  object-fit: cover;
  border-radius:0.5rem;
  box-shadow:0 0 10px rgba(0,0,0,0.5);
  margin-left:5rem;
  }
  .text13{
	  position:relative;
	  font-size:1.3rem;
	  top:-0.5rem;
	  left:8rem;
	  width:rem;
	  }
  .text_13{
	  position:relative;
	  font-size:1.3rem;
	  top:1.8rem;
	  left:-3rem;
	  }
	  .input13{
	border-radius: 2rem;
	height: 3rem;
	width:5rem;
	font-size: 1rem;
	font-weight: 600;
	text-align: center;
	border: none;
	background: linear-gradient(84.83deg, #FE6969 -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, rgba(255, 27, 27, 0) 100%);
	filter: drop-shadow(0rem 0.438rem 2.188rem rgba(251, 68, 48, 0.56));
	color: #fff;
	top:4.1rem;
	position:relative;
	left:-10.5rem;
	}
	   .block14{
	   background: linear-gradient(84.83deg, rgba(255, 27, 27, 0) -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, #FE6969 100%);
	   box-shadow:0 0 10px rgba(0,0,0,0.5);
	   border-radius:0.5rem;
	   width:30rem;
	   height:20rem;	 
	   padding: 1rem 1rem 1rem 1rem;
	   margin-left:43rem;
	   margin-top:-22rem;
  }
  .img_14{
  width:20rem;
  height:13rem;
  object-fit: cover;
  border-radius:0.5rem;
  box-shadow:0 0 10px rgba(0,0,0,0.5);
  margin-left:5rem;
  }
  .text14{
	  position:relative;
	  font-size:1.3rem;
	  top:0rem;
	  left:9rem;
	  }
  .text_14{
	  position:relative;
	  font-size:1.3rem;
	  top:2.1rem;
	  left:-4rem;
	  }
	  .input14{
	border-radius: 2rem;
	height: 3rem;
	width:5rem;
	font-size: 1rem;
	font-weight: 600;
	text-align: center;
	border: none;
	background: linear-gradient(84.83deg, #FE6969 -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, rgba(255, 27, 27, 0) 100%);
	filter: drop-shadow(0rem 0.438rem 2.188rem rgba(251, 68, 48, 0.56));
	color: #fff;
	top:2.5rem;
	position:relative;
	left:12rem;
	}
		 .block15{
	   background: linear-gradient(84.83deg, rgba(255, 27, 27, 0) -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, #FE6969 100%);
	   box-shadow:0 0 10px rgba(0,0,0,0.5);
	   border-radius:0.5rem;
	   width:30rem;
	   height:20rem;	 
	   padding: 1rem 1rem 1rem 1rem;
	   margin-left:76rem;
	   margin-top:-22rem;
  }
  .img_15{
  width:20rem;
  height:13rem;
  object-fit: cover;
  border-radius:0.5rem;
  box-shadow:0 0 10px rgba(0,0,0,0.5);
  margin-left:5rem;
  }
  .text15{
	  position:relative;
	  font-size:1.3rem;
	  top:rem;
	  left:8rem;
	  }
  .text_15{
	  position:relative;
	  font-size:1.3rem;
	  top:2.1rem;
	  left:-5rem;
	  }
	  .input15{
	border-radius: 2rem;
	height: 3rem;
	width:5rem;
	font-size: 1rem;
	font-weight: 600;
	text-align: center;
	border: none;
	background: linear-gradient(84.83deg, #FE6969 -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, rgba(255, 27, 27, 0) 100%);
	filter: drop-shadow(0rem 0.438rem 2.188rem rgba(251, 68, 48, 0.56));
	color: #fff;
	top:2.5rem;
	position:relative;
	left:12.5rem;
	}
		   .block16{
	   background: linear-gradient(84.83deg, rgba(255, 27, 27, 0) -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, #FE6969 100%);
	   box-shadow:0 0 10px rgba(0,0,0,0.5);
	   border-radius:0.5rem;
	   width:30rem;
	   height:20rem;	 
	   padding: 1rem 1rem 1rem 1rem;
	   margin-left:10rem;
	   margin-top:1rem;
  }
  .img_16{
  width:20rem;
  height:13rem;
  object-fit: cover;
  border-radius:0.5rem;
  box-shadow:0 0 10px rgba(0,0,0,0.5);
  margin-left:5rem;
  }
  .text16{
	  position:relative;
	  font-size:1.3rem;
	  top:-0.5rem;
	  left:13rem;
	  width:rem;
	  }
  .text_16{
	  position:relative;
	  font-size:1.3rem;
	  top:1.8rem;
	  left:4rem;
	  }
	  .input16{
	border-radius: 2rem;
	height: 3rem;
	width:5rem;
	font-size: 1rem;
	font-weight: 600;
	text-align: center;
	border: none;
	background: linear-gradient(84.83deg, #FE6969 -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, rgba(255, 27, 27, 0) 100%);
	filter: drop-shadow(0rem 0.438rem 2.188rem rgba(251, 68, 48, 0.56));
	color: #fff;
	top:4.1rem;
	position:relative;
	left:-3.5rem;
	}
  .block17{
	   background: linear-gradient(84.83deg, rgba(255, 27, 27, 0) -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, #FE6969 100%);
	   box-shadow:0 0 10px rgba(0,0,0,0.5);
	   border-radius:0.5rem;
	   width:30rem;
	   height:20rem;	 
	   padding: 1rem 1rem 1rem 1rem;
	   margin-left:43rem;
	   margin-top:-22rem;
  }
  .img_17{
  width:20rem;
  height:13rem;
  object-fit: cover;
  border-radius:0.5rem;
  box-shadow:0 0 10px rgba(0,0,0,0.5);
  margin-left:5rem;
  }
  .text17{
	  position:relative;
	  font-size:1.3rem;
	  top:-0.5rem;
	  left:12rem;
	  }
  .text_17{
	  position:relative;
	  font-size:1.3rem;
	  top:1.8rem;
	  left:3.5rem;
	  }
	  .input17{
	border-radius: 2rem;
	height: 3rem;
	width:5rem;
	font-size: 1rem;
	font-weight: 600;
	text-align: center;
	border: none;
	background: linear-gradient(84.83deg, #FE6969 -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, rgba(255, 27, 27, 0) 100%);
	filter: drop-shadow(0rem 0.438rem 2.188rem rgba(251, 68, 48, 0.56));
	color: #fff;
	top:4.1rem;
	position:relative;
	left:-4rem;
	}
		   .block18{
	   background: linear-gradient(84.83deg, rgba(255, 27, 27, 0) -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, #FE6969 100%);
	   box-shadow:0 0 10px rgba(0,0,0,0.5);
	   border-radius:0.5rem;
	   width:30rem;
	   height:20rem;	 
	   padding: 1rem 1rem 1rem 1rem;
	   margin-left:76rem;
	   margin-top:-22rem;
  }
  .img_18{
  width:20rem;
  height:13rem;
  object-fit: cover;
  border-radius:0.5rem;
  box-shadow:0 0 10px rgba(0,0,0,0.5);
  margin-left:5rem;
  }
  .text18{
	  position:relative;
	  font-size:1.3rem;
	  top:1.5rem;
	  left:-12rem;
	  }
  .text_18{
	  position:relative;
	  font-size:1.3rem;
	  top:1.8rem;
	  left:9rem;
	  }
	  .input18{
	border-radius: 2rem;
	height: 3rem;
	width:5rem;
	font-size: 1rem;
	font-weight: 600;
	text-align: center;
	border: none;
	background: linear-gradient(84.83deg, #FE6969 -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, rgba(255, 27, 27, 0) 100%);
	filter: drop-shadow(0rem 0.438rem 2.188rem rgba(251, 68, 48, 0.56));
	color: #fff;
	top:4.1rem;
	position:relative;
	left:1rem;
	}
	.box {
	box-sizing: border-box;
	width: 6rem;
	height: 6rem;
	background-color:linear-gradient(84.83deg, #FE6969 -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, rgba(255, 27, 27, 0) 100%);;
	overflow: hidden;
	position: relative;
	box-shadow: 2px 2px 5px 0 #A3A3A3;
	border-radius:50%;
	left:85vw;
	margin-top:-12.6rem;
  }
  .box::before {
	content:'';
	width: 300px;
	height: 200px;
	opacity: 1;
	background-image: linear-gradient(
	  to bottom,
	  rgba(255, 255, 255, 0) 0%,
	  rgba(255, 255, 255, 0.3) 40%,
	  rgba(255, 255, 255, 0.3) 60%,
	  rgba(255, 255, 255, 0) 100%
	);
	transform-origin: center center;
	position: absolute;
	z-index: 10;
	animation-delay: 0s;
	animation-name: mask-ani;
	animation-duration: 5s;
	animation-iteration-count: infinite;
  }
  .box::after {
	content: '';
	width: 200px;
	height: 200px;
	opacity: 0;
	background-color: rgba(0,0,0,0);
	transform-origin: center center;
	position: absolute;
	z-index: 1;
	animation-delay: 2s;
	animation-name: mask-border-ani;
	animation-duration: 0s;
	animation-iteration-count: infinite;
  }
  .box img {
	width: 5rem;
	border-radius:50%;
	vertical-align: top;
	z-index: 5;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
  }
  @keyframes mask-ani {
	0% {
	  transform: rotate(-36deg) translate(-40px, -430px);
	}
  
	70%,
	100% {
	  transform: rotate(-36deg) translate(-40px, 378px);
	}
  }
  @keyframes mask-border-ani {
	0% {
	  opacity: 0.8;
	  transform: rotate(-36deg) translate(-126px, -190px);
	}
  
	70%,
	100% {
	  opacity: 0.8;
	  transform: rotate(-36deg) translate(-126px, 355px);
	}
  }
  .form-style {
	position:absolute;
	padding: 13px 55px;
	height: 8px;
	transform: translateX(-50%);
	left:50%;
	top:-1rem;
	width: 75vw;
	font-weight: 500;
	border-radius: 4px;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 1px;
	color: #fff;
	background-color: rgba(0,0,0,0.3);
	border: none;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
	box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
  }
  .form-style:focus,
  .form-style:active {
	border: none;
	outline: none;
	box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
  }
  .form-style:hover{
	cursor:auto;
  }
  main{
	top:0rem;
	position: relative;
  }
.back-to-top{
	border-radius: 50%;
	width:3.5rem;
	padding-right: 0.3rem;
	height: 3.5rem;
	font-size: 2rem;
	font-weight: 900;
	text-align: center;
	border: none;
	background: linear-gradient(84.83deg, #FE6969 -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, rgba(255, 27, 27, 0) 100%);
	filter: drop-shadow(0rem 0.438rem 2.188rem rgba(251, 68, 48, 0.56));
	color: #fff;
	top:90vh;
	position:fixed;
	left:95vw;
	transition: all 1s ease;
}
.back-to-top:hover{
	cursor: pointer;
}
.hidden {
	opacity: 0%;
  }


  /* #results-container{
	border-right: 5px solid #fd1d6b;
	border-left: 5px solid #fd1d6b;     
	border-radius: 25px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 90vw;
   }
   #movie-unavailable-txt{
	text-align: center;
	letter-spacing: 2px;
	display: none;
	margin-top: 15%;
	text-shadow: 3px 3px 5px #fd1d6b;
   } */

   .wraper{
	top: 2rem;
	position: relative;
   }
  }