 @media (min-width: 1000px) {	
body{
	margin:0;
	padding:0;
	font-family: 'Montserrat', sans-serif;
	background: linear-gradient(90deg, #FFA700 0%, rgba(255, 147, 0, 0.369792) 101.73%, #FF5600 100%);
	color:#fff;
}
html {
  overflow-x: hidden;
  }
 ::-webkit-scrollbar {
width: 0px;  /* remove scrollbar space */
background: transparent;  /* optional: just make scrollbar invisible */
  }
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
width: -1px;  /* remove scrollbar space */
background: rgba(0,0,0,0);  /* optional: just make scrollbar invisible */
opacity: .0;
color:rgba(0,0,0,0);  
 }
.div1{
	 width:70rem;
	 height:50rem;
	 margin-left: auto;
     margin-right: auto;
	 margin-top:5rem;
	 border-radius:0.5rem;
	 padding-left:1rem;
	 padding-top:1rem;
	 background: linear-gradient(84.83deg, rgba(255, 27, 27, 0) -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, #FE6969 100%);
	 box-shadow:0 0 10px rgba(0,0,0,0.5);
}

.img1{
	border-radius:50%;
	width:15rem;
	height:15rem;
	margin-left:2rem;
	margin-top:2rem;
  box-shadow:0 0 10px rgba(0,0,0,0.5);
}

.text1{
	color:#fff;	
	margin-left:20rem;
	margin-top:-14rem;
	font-size:2rem;
	
}

.text2{
	color:#fff;
	margin-left:20rem;
	margin-top:1rem;
	font-size:2rem;
}

.text_underscores1{
	width:31rem;
	height:0.3rem;
	border-color:#FF0000;
	box-shadow:0 0 10px rgba(0,0,0,0.5);
	border-radius:0.1rem;
}
.img2{
	border-radius:50%;
	width:15rem;
	margin-left:54rem;
	margin-top:-15rem;
	background: linear-gradient(84.83deg, #FE6969 -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, rgba(255, 27, 27, 0) 100%);
	filter: drop-shadow(0rem 0.438rem 2.188rem rgba(251, 68, 48, 0.56));
  box-shadow:0 0 10px rgba(0,0,0,0.5);
}

.button{
	width: 8.688rem;
	height: 3.563rem;
	left: 30rem;
	top: 8rem;
	background: linear-gradient(84.83deg, #FE6969 -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, rgba(255, 27, 27, 0) 100%);
	filter: drop-shadow(0rem 0.438rem 2.188rem rgba(251, 68, 48, 0.56));
	border-radius: 6.875rem;
	position: relative;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 0.8rem;
	line-height: 2.313rem;
	/* identical to box height */
	color: #fff;
  border: none;
	}	
	
.photo {
    display: inline-block; /* Строчно-блочный элемент */
    position: relative; /* Относительное позиционирование */
    margin-left:6rem;
    margin-top:5rem;
    background:rgba(0,0,0,0.5);
    border-radius:0.3rem;
    width:10rem;
    height:12rem;
   }
  .photo p{
  color:#fff;
  font-size:1.5rem;
  }
  .photo1 p{
  color:#fff;
   font-size:1.5rem;
  }
  .photo2 p{
  color:#fff;
   font-size:1.5rem;
  }
  .photo3 p{
  color:#fff;
   font-size:1.5rem;
  }
.photo1 {
    display: inline-block; /* Строчно-блочный элемент */
    position: relative; /* Относительное позиционирование */
	margin-left:5rem;
    background:rgba(0,0,0,0.5);
    border-radius:0.3rem;
        width:10rem;
    height:12rem;
	}
.photo2 {
    display: inline-block; /* Строчно-блочный элемент */
    position: relative; /* Относительное позиционирование */
    margin-left:5rem;
    background:rgba(0,0,0,0.5);
    border-radius:0.3rem;
        width:10rem;
    height:12rem;
   }
.photo3 {
    display: inline-block; /* Строчно-блочный элемент */
    position: relative; /* Относительное позиционирование */
    margin-left:5rem;
    background:rgba(0,0,0,0.5);
    border-radius:0.3rem;
        width:10rem;
    height:12rem;
   }

	.form-style1 {
  position:relative;
/*
  left:-4rem;
*/
  top:-0.5rem;
  padding: 13px 20px;
  padding-left: 55px;
  height: 10px;
  width: 22rem;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: #c4c3ca;
  background-color: rgba(0,0,0,0.3);
  border: none;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
font-family: 'Montserrat', sans-serif;
color:#fff;
}
.form-style1:focus,
.form-style1:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
   color: rgba(47,86,135,1);
}
	.form-style {
  position:relative;
/*
  left:-4rem;
*/
  top:-0.5rem;
  padding: 13px 20px;
  padding-left: 55px;
  height: 10px;
  width: 20rem;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: #c4c3ca;
  background-color: rgba(0,0,0,0.3);
  border: none;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
font-family: 'Montserrat', sans-serif;
color:#fff;
}
.form-style:focus,
.form-style:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
  color:#fff;
}
	.form-style2 {
  position:relative;

  top:-0.5rem;
  padding: 13px 20px;
  padding-left: 55px;
  height: 10px;
  width: 15.5rem;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  outline: none;
  color: #c4c3ca;
  background-color: rgba(0,0,0,0.3);
  border: none;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
font-family: 'Montserrat', sans-serif;
color:#fff;
}
.form-style2:focus,
.form-style2:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
  color:#fff;
}
	.form-style3 {
  position:relative;

  top:-0.5rem;
  padding: 13px 20px;
  padding-left: 55px;
  height: 10px;
  width: 17.5rem;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  outline: none;
  color: #c4c3ca;
  background-color: rgba(0,0,0,0.3);
  border: none;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
font-family: 'Montserrat', sans-serif;
 color: rgba(47,86,135,1);
}
.form-style3:focus,
.form-style3:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
  color:#fff;
}
.cloze1{
	position:relative;
	width:40px;
	height:40px;
	background: linear-gradient(84.83deg, #FE6969 -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, rgba(255, 27, 27, 0) 100%);
	border-radius:50%;
	top:-8rem;
	color:#fff;
	font-size:1rem;
	margin-left:31rem;
  display:block;
  border:none;
}
.button1{
  width: 9.688rem;
 height: 3.563rem;
 left: 59rem;
 position:relative;
 top:4rem;
 background: linear-gradient(84.83deg, #FE6969 -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, rgba(255, 27, 27, 0) 100%);
 filter: drop-shadow(0rem 0.438rem 2.188rem rgba(251, 68, 48, 0.56));
 border-radius: 6.875rem;
 font-family: 'Montserrat';
 font-style: normal;
 font-weight: 700;
 font-size: 1rem;
 line-height: 2.313rem;
 /* identical to box height */
 color: #fff;
 border:none;
 }
 .button:hover,
 .button1:hover,
 .cloze1:hover{
  cursor:	pointer;
 }
 .form-style1 {
 position:relative;
/*
 left:-4rem;
*/
 top:-0.5rem;
 padding: 13px 20px;
 padding-left: 55px;
 height: 10px;
 width: 22rem;
 font-weight: 500;
 border-radius: 4px;
 font-size: 1rem;
 line-height: 22px;
 letter-spacing: 0.5px;
 outline: none;
 background-color: rgba(0,0,0,0.3);
 border: none;
 -webkit-transition: all 200ms linear;
 transition: all 200ms linear;
font-family: 'Montserrat', sans-serif;
color:#fff;
}
.form-style1:focus,
.form-style1:active {
 border: none;
 outline: none;
 box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
  color: #fff;
}
 .form-style {
 position:relative;
/*
 left:-4rem;
 
*/
 top:-0.5rem;
 padding: 13px 20px;
 padding-left: 55px;
 height: 10px;
 width: 20rem;
 font-weight: 500;
 border-radius: 4px;
 font-size: 14px;
 line-height: 22px;
 letter-spacing: 0.5px;
 outline: none;
 background-color: rgba(0,0,0,0.3);
 border: none;
 -webkit-transition: all 200ms linear;
 transition: all 200ms linear;
font-family: 'Montserrat', sans-serif;
color:#fff;
}
.form-style:focus,
.form-style:active {
 border: none;
 outline: none;
 box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
 color:#fff;
}
 .form-style2 {
 position:relative;

 top:-0.5rem;
 padding: 13px 20px;
 padding-left: 55px;
 height: 10px;
 width: 15.5rem;
 font-weight: 500;
 border-radius: 4px;
 font-size: 14px;
 line-height: 20px;
 letter-spacing: 0.5px;
 outline: none;
 background-color: rgba(0,0,0,0.3);
 border: none;
 -webkit-transition: all 200ms linear;
 transition: all 200ms linear;
font-family: 'Montserrat', sans-serif;
color:#fff;
}
.form-style2:focus,
.form-style2:active {
 border: none;
 outline: none;
 box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
 color:#fff;
}
 .form-style3 {
 position:relative;

 top:-0.5rem;
 padding: 13px 20px;
 padding-left: 55px;
 height: 10px;
 width: 17.5rem;
 font-weight: 500;
 border-radius: 4px;
 font-size: 14px;
 line-height: 20px;
 letter-spacing: 0.5px;
 outline: none;
 background-color: rgba(0,0,0,0.3);
 border: none;
 -webkit-transition: all 200ms linear;
 transition: all 200ms linear;
font-family: 'Montserrat', sans-serif;
color: #fff;
}
.form-style3:focus,
.form-style3:active {
 border: none;
 outline: none;
 box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
 color:#fff;
}
 .cloze1{
 position:relative;
 width:40px;
 height:40px;
 background: linear-gradient(84.83deg, #FE6969 -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, rgba(255, 27, 27, 0) 100%);
 border-radius:50%;
 top:1.5rem;
 color:#fff;
 font-size:1rem;
 left:-25rem;
}

}

@media(max-width: 1000px){
body{
	margin:0;
	padding:0;
	font-family: 'Montserrat', sans-serif;
	 background:linear-gradient(90deg, #FFA700 0%, rgba(255, 147, 0, 0.369792) 101.73%, #FF5600 100%);
}

.div1{
	 margin-left: 1rem;
     margin-right: 1rem;
	 margin-top:1rem;
	 padding-left:1rem;
	 padding-top:1rem;
	 padding-bottom:1rem; 
	 background:rgba(0,0,0,0.2);
	 border-radius:1rem;
}

.img1{
	border-radius:50%;
	width:15rem;
	height:15rem;
	margin-left:15rem;
	margin-top:2rem;
}

.text1{
	color:#fff;	
	margin-left:10rem;
	margin-top:2rem;
	font-size:2.5rem;

}

.text2{
	color:#fff;
	margin-left:10rem;
	margin-top:1rem;
	font-size:2.5rem;
}

.text_underscores1{
	width:40rem;
	height:0.3rem;
	border-color:#FF0000;
	box-shadow:0 0 10px rgba(0,0,0,0.5);
	border-radius:0.1rem;
}
.img2{
	background: linear-gradient(84.83deg, #FFA500 -3.48%, #ED9A00 100%);
	border-radius:50%;
	width:15rem;
	margin-left:0rem;
	margin-top:0rem;
}


	
.photo {
    display: inline-block; /* Строчно-блочный элемент */
    position: relative; /* Относительное позиционирование */
    margin-left:9rem;
    margin-top:3rem;
    background:rgba(0,0,0,0.5);
    border-radius:1rem;
    width:20rem;
    height:20rem;
   }
.photo1 {
    display: inline-block; /* Строчно-блочный элемент */
    position: relative; /* Относительное позиционирование */
	margin-left:1rem;
    background:rgba(0,0,0,0.5);
    border-radius:1rem;
    width:20rem;
    height:20rem;
	}
.photo2 {
    display: inline-block; /* Строчно-блочный элемент */
    position: relative; /* Относительное позиционирование */
    margin-left:9rem;
    margin-top:1rem;
    background:rgba(0,0,0,0.5);
    border-radius:1rem;
    width:20rem;
    height:20rem;
   }
.photo3 {
    display: inline-block; /* Строчно-блочный элемент */
    position: relative; /* Относительное позиционирование */
    margin-left:1rem;
    background:rgba(0,0,0,0.5);
    border-radius:1rem;
    width:20rem;
    height:20rem;
   }
   
     .photo p{
  color:#fff;
  font-size:2rem;
  }
  .photo1 p{
  color:#fff;
   font-size:2rem;
  }
  .photo2 p{
  color:#fff;
   font-size:2rem;
  }
  .photo3 p{
  color:#fff;
   font-size:2rem;
  }
   .photo_1{
		width:15rem;
		margin-left:2.5rem;
		}
   .photo_2{
		width:15rem;
		margin-left:2.5rem;
		}
   .photo_3{
		width:15rem;
		margin-left:2.5rem;
		}
   .photo_4{
		width:15rem;
		margin-left:2.5rem;
		}
    .button1{
      width: 9.688rem;
     height: 3.563rem;
     left: 47rem;
     position:relative;
     top:0rem;
     background: linear-gradient(84.83deg, #FE6969 -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, rgba(255, 27, 27, 0) 100%);
     filter: drop-shadow(0rem 0.438rem 2.188rem rgba(251, 68, 48, 0.56));
     border-radius: 6.875rem;
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 700;
     font-size: 1rem;
     line-height: 2.313rem;
     /* identical to box height */
     color: #fff;
     }
     .form-style1 {
     position:relative;
   /*
     left:-4rem;
   */
     top:-0.5rem;
     padding: 13px 20px;
     padding-left: 55px;
     height: 20px;
     width: 30rem;
     font-weight: 500;
     border-radius: 4px;
     font-size: 2rem;
     line-height: 22px;
     letter-spacing: 0.5px;
     outline: none;
     background-color: rgba(0,0,0,0.3);
     border: none;
     -webkit-transition: all 200ms linear;
     transition: all 200ms linear;
   font-family: 'Montserrat', sans-serif;
   color:#fff;
   }
   .form-style1:focus,
   .form-style1:active {
     border: none;
     outline: none;
     box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
      color: #fff;
   }
     .form-style {
     position:relative;
   /*
     left:-4rem;
     
   */font-size: 2rem;
     top:-0.5rem;
     padding: 13px 20px;
     padding-left: 55px;
     height: 20px;
     width: 27.5rem;
     font-weight: 500;
     border-radius: 4px;
     line-height: 22px;
     letter-spacing: 0.5px;
     outline: none;
     background-color: rgba(0,0,0,0.3);
     border: none;
     -webkit-transition: all 200ms linear;
     transition: all 200ms linear;
   font-family: 'Montserrat', sans-serif;
   color:#fff;
   }
   .form-style:focus,
   .form-style:active {
     border: none;
     outline: none;
     box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
     color:#fff;
   }
     .form-style2 {
     position:relative;
   font-size: 2rem;
     top:-0.5rem;
     padding: 13px 20px;
     padding-left: 55px;
     height: 20px;
     width: 22rem;
     font-weight: 500;
     border-radius: 4px;
     line-height: 20px;
     letter-spacing: 0.5px;
     outline: none;
     background-color: rgba(0,0,0,0.3);
     border: none;
     -webkit-transition: all 200ms linear;
     transition: all 200ms linear;
   font-family: 'Montserrat', sans-serif;
   color:#fff;
   }
   .form-style2:focus,
   .form-style2:active {
     border: none;
     outline: none;
     box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
     color:#fff;
   }
     .form-style3 {
     position:relative;
   
     top:-0.5rem;
     padding: 13px 20px;
     padding-left: 55px;
     height: 20px;
     width: 24.4rem;
     font-weight: 500;
     border-radius: 4px;
      font-size: 2rem;
     line-height: 20px;
     letter-spacing: 0.5px;
     outline: none;
     background-color: rgba(0,0,0,0.3);
     border: none;
     -webkit-transition: all 200ms linear;
     transition: all 200ms linear;
   font-family: 'Montserrat', sans-serif;
    color: #fff;
   }
   .form-style3:focus,
   .form-style3:active {
     border: none;
     outline: none;
     box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
     color:#fff;
   }
     .cloze1{
     position:relative;
     width:5rem;
     height:5rem;
     background: linear-gradient(84.83deg, #FE6969 -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, rgba(255, 27, 27, 0) 100%);
     border-radius:50%;
     top:-90rem;
     color:#fff;
     font-size:2rem;
     left:52rem;
   }
   .button{
     height: 5.563rem;
     left: 19rem;
     top: 3rem;
     background: linear-gradient(84.83deg, #FE6969 -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, rgba(255, 27, 27, 0) 100%);
     filter: drop-shadow(0rem 0.438rem 2.188rem rgba(251, 68, 48, 0.56));
     border-radius: 6.875rem;
     position: relative;
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 700;
     font-size: 2rem;
     line-height: 2.313rem;
     /* identical to box height */
     color: #fff;
     padding:1rem;
     }	
}
