$bac: linear-gradient(90deg, #FFA700 0%, rgba(255, 147, 0, 0.369792) 100%, #FF5600 100%);
$bac_button: linear-gradient(85deg, #FE6969 -3.48%, rgba(255, 0, 0, 0.76) 99.99%, rgba(255, 27, 27, 0.00) 100%);
$bac_text: linear-gradient(84.83deg, rgba(255, 27, 27, 0.3) -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, #FE6969 100%);
/*Body*/
body{
    background: $bac;
    background-size: cover;
    &.lock{
      overflow: hidden;
    }
}
*{
    font-family: 'Montserrat', sans-serif;
}

@mixin nav_text($weight, $liner){
    border-bottom: $liner;
    font-weight: $weight;
}

/*HEADER */

.header{
    display: flex;
    justify-content: center;
    gap:95px;
    margin-top: 52px;

    &__bur_menu{
      display: none;
    }
    &__logo{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap:10px;

      form button{
          width:97px;
          height:133.5px;
          background-color: #000;
          color:#FFF;
          font-size: 40px;
          font-weight: 900;
          border-radius: 10px;
          border: none;
          transition: filter .2s;

          &:hover{
              filter: drop-shadow(1px 4px 4px rgba(0, 0, 0, 0.50));
              cursor: pointer;
          }
      }
      a{
          font-size: 35px;
      }
    }
    a{
      text-decoration: none;
      color: #000;
    }
    &__navigation{
    nav ul{
      display: flex;
      list-style: none;
      gap:29px;
      align-items: center;

      li{
        display: flex;
        gap:18px;
        font-size: 20px;

        form {
          margin-left: 80px;

          button{
            border: none;
            border-radius: 50%;
            background-color: #000;
            width: 70px;
            height: 70px;
            transition: all .2s;

            &:hover{
              filter: drop-shadow(1px 4px 4px rgba(0, 0, 0, 0.50));
              cursor: pointer;
            }
            img{
              width: 45px;
              height: 45px;
              margin-left: -5px;
              margin-top: 5px;
            }
          }
        }
        .box {
          box-sizing: border-box;
          width: 6rem;
          height: 6rem;
          background-color:linear-gradient(84.83deg, #FE6969 -3.48%, rgba(255, 0, 0, 0.755208) 99.99%, rgba(255, 27, 27, 0) 100%);;
          overflow: hidden;
          position: relative;
          box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.3);
          border-radius:50%;
          margin-left: 80px;
          transition: box-shadow .2s;

          &:hover{
            box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.7);
          }
        }
        .box::before {
          content:'';
          width: 300px;
          height: 200px;
          opacity: 1;
          background-image: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.3) 40%,
            rgba(255, 255, 255, 0.3) 60%,
            rgba(255, 255, 255, 0) 100%
          );
          transform-origin: center center;
          position: absolute;
          z-index: 10;
          animation-delay: 0s;
          animation-name: mask-ani;
          animation-duration: 5s;
          animation-iteration-count: infinite;
        }
        .box::after {
          content: '';
          width: 200px;
          height: 200px;
          opacity: 0;
          transform-origin: center center;
          position: absolute;
          z-index: 1;
          animation-delay: 0s;
          animation-name: mask-border-ani;
          animation-duration: 5s;
          animation-iteration-count: infinite;
        }
        .box img {
          width: 5rem;
          border-radius:50%;
          vertical-align: top;
          z-index: 5;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
        }
        @keyframes mask-ani {
          0% {
            transform: rotate(-36deg) translate(-40px, -430px);
          }
        
          70%,
          100% {
            transform: rotate(-36deg) translate(-40px, 378px);
          }
        }
        @keyframes mask-border-ani {
          0% {
            opacity: 0.8;
            transform: rotate(-36deg) translate(-126px, -190px);
          }
        
          70%,
          100% {
            opacity: 0.8;
            transform: rotate(-36deg) translate(-126px, 355px);
          }
        }
        .box1 {
          background: $bac_button;
          border-radius: 50%;
          padding:20px 0;
          padding-left: 16px;
          padding-right: 26px;

          a img{
            width: 50px;
            filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(87deg) brightness(119%) contrast(119%);
          }
        }
      }
    }
  }
}
@media screen and (max-width:1540px) {
  .header{
    gap:40px;
    transition: .2s;
  }
}
@media screen and (max-width:1345px) {
  .header{
    gap:10px;
    transition: .2s;

    &__navigation{
      nav ul li{
        form{
          margin-left: 40px;
        }
        .box{
          margin-left: 40px;
        }
      }
    }
  }
}
@media screen and (max-width:1235px){
  .header{
    &__bur_menu{
      display: flex;
      position: absolute;
      right:10px;
      overflow: visible;

      label{
        display:flex;
         flex-direction:column;
         width:70px;
         cursor:pointer;
         rotate:180deg;
         z-index: 100;
         overflow: visible;
       }
       label span{
         background: #000;
         border-radius:10px;
         height:7px;
         margin: 7px 0;
         transition: .3s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
       }
       span:nth-of-type(1){
         width:50%;
       }
       span:nth-of-type(2){
         width:100%;
       }
       span:nth-of-type(3){
         width:75%;
       }
       input[type="checkbox"]{
         display:none;
       }
       input[type="checkbox"]:checked ~ span:nth-of-type(1){
         transform-origin:bottom;
         transform:rotatez(45deg) translate(8px,0px)
       }
       input[type="checkbox"]:checked ~ span:nth-of-type(2){ 
         transform-origin:top;
         transform:rotatez(-45deg)
       }
       input[type="checkbox"]:checked ~ span:nth-of-type(3){
         transform-origin:bottom;
         width:50%;
         transform: translate(30px,-11px) rotatez(45deg);
       }
       &.active{
        transform: translateX(0);
        overflow: visible;
        z-index: 20;
      }
    }
    &__navigation{
      display: flex;
      position: fixed;
      top:0;
      left:0;
      transform: translateX(-100%);
      opacity: 0;
      visibility: hidden;
      transition: all .2s ease .0s;
      height:100%;
      width: 50%;
      background-color: rgba(0, 0, 0, 0.7);
      flex-direction: column;
      justify-content: space-around;
      padding: 0;
      z-index: 3;

      nav ul {
        flex-direction: column;

        li{
          margin: 0 0 20px 0;
          
          a{
            color: #fff;
            padding: 20px 40px;
            background:$bac_button ;
            border-radius: 500px;
          }
          form button{
            background-color: #fff;
            margin: 0;
          }
          .box{
            margin: 0;

            a{
              background: none;
            }
          }
          .box1{
            border-radius: 500px;

            a{
              background: none;
            }
          }
        }
      }
      &.active{
        transform: translateX(0);
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
@media screen and (max-width:685px){
  .header{
    &__navigation{
      nav ul li:nth-child(5){
        flex-direction: column;

        form button{
          margin-left: 10px;
        }
      }
    }
  }
}
@media screen and (max-width:455px){
  .header{
    &__navigation{
      nav ul{
        gap:8px;

      li a{
        font-size: 12px;
      }
      }

    }
  }
}